ul {
    list-style-type: none;
    padding: 0;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}
li {
    display: inline-block;
    position: relative;
    background: #eee;
    font-family: 'Poppins', sans-serif;
    height: 10.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 1em;
    text-align: center;
    min-width: 27em;
    max-width: 33em;
    cursor: pointer;
    border-radius: 5px;
    vertical-align: bottom;
}
li h4,
h2,
h3 {
    margin-top: 0;
}
h2 {
    margin-bottom: 0;
}
img {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 9.375em;
    height: 9.375em;
}
.sub-header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #777;
}
.label {
    position: absolute;
    top: 1em;
    left: 1em;
    text-align: left;
    max-width: 14.56em;
}

@media (min-width: 750px) {
    li {
        display: inline-block;
        width: 45%;
        margin-right: .5em;
        margin-left: .5em;
    }
    h4 {
        font-size: 1.3em;
    }
}

@media (min-width: 1000px) {
    li {
        display: inline-block;
        width: 30%;
        margin-right: .5em;
        margin-left: .5em
    }
    h4 {
        font-size: 1.5em;
    }
}